* {
	margin: none;
	padding: none;
}

header {
	background: #fff;
	border-bottom: #000 1px solid;
}

header h5 {
	float: left;
	margin: 10px;
	padding: 10px;
}

header ul{
	float: right;
}

header ul li {
	display: inline-block;
}

header ul li a {
	margin: 10px
	padding: 5px;
	text-decoration: none;
	border: none;
	color: #000;
	transition: 0.6s ease;
}

header ul li a:hover {
	background-color: #000;
	color: #fff;
	border-color: #000; 
}